<div class="cols-lg-12">
  <nb-card>
    <nb-card-header *ngIf="modoCreacion">
      Crear Resultado Electoral
    </nb-card-header>
    <nb-card-header *ngIf="!modoCreacion">
      Actualizar Resultado Electoral
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-3">
          <label>Mesa de Votación</label>
        </div>
        <div class="col-9">
          <input class="form-control" type="text" [(ngModel)]="elResultado.mesa">
          <p *ngIf="intentoEnvio && elResultado.mesa==='' ">Requerido</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <label>Candidato Político</label>
        </div>
        <div class="col-9">
          <input class="form-control" type="text" [(ngModel)]="elResultado.candidato">
          <p *ngIf="intentoEnvio && elResultado.candidato==='' ">Requerido</p>
        </div>
      </div>
      <br>
      <div class="row">
        <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="agregar()">
          Crear
        </button>
        <button *ngIf="!modoCreacion" class="btn btn-primary btn-block" (click)="editar()">
          Actualizar
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>